mixin pagination(pagination) 
    nav(class="d-flex justify-content-center")
        ul(class="pagination")
            li(class="page-item")
                button(
                class="page-link"
                button-pagination= `${Math.max(pagination.currentPage -1 , 1)}`
                ) ⬅️
            li(class='page-item')
                button(
                    class='page-link'
                    button-pagination=1
                ) 1
            if (Math.max(pagination.currentPage - 2,2) > 2)
                li(class='page-item disabled')
                    button(
                        class='page-link'
                    ) ...
            - for (let i = Math.max(pagination.currentPage - 2,2) ; i<= Math.min(pagination.currentPage + 2,pagination.totalPage-1); i++)
                li(class=`page-item ${i === pagination.currentPage ? 'active' : ''}`) 
                    button(
                        class='page-link'
                        button-pagination=i
                    ) #{i}
            if (Math.min(pagination.currentPage + 2,pagination.totalPage-1) < pagination.totalPage - 1)
                li(class='page-item disabled')
                    button(
                        class='page-link'
                    ) ...
            if (pagination.totalPage > 1)
                li(class='page-item')
                    button(
                        class='page-link'
                        button-pagination=pagination.totalPage
                    ) #{pagination.totalPage}
            li(class="page-item")
                button(
                class="page-link"
                button-pagination= `${Math.min(pagination.currentPage + 1, pagination.totalPage)}`
                ) ➡️